@import "./nullstyle";
@import "./mixins";
@import "./variables";
@import "./fonts";
@import './componentScss/signUp.scss';
@import './componentScss/header.scss';

*{
    font-family: $primary-ff;
}

//temp option
body{
    -webkit-tap-highlight-color: transparent;
    opacity: 0.99;
    background: white;
}

.block{
    font-size: $link-fz;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
}