@import "./nullstyle";
@import "./mixins";
@import "./variables";
@import "./fonts";
@import './componentScss/signUp.scss';
@import './componentScss/header.scss';
@import './componentScss/sideMenu.scss';
@import './componentScss/card.scss';
@import './componentScss/home.scss';
@import './componentScss/movie-backscreen.scss';
@import './componentScss/defaultElements.scss';
@import './componentScss/slider-block.scss';
@import './componentScss/slider.scss';

*{
    font-family: $primary-ff;
    font-weight: 400;
}

//temp option
body{
    -webkit-tap-highlight-color: transparent;
    background: #2B2B2B;
    overflow-x: hidden;
}

.block{
    font-size: $link-fz;
}

.app{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    &__container{
        position: relative;
        max-width: 1150px;
        width: 100%;
        height: 2067px - 168px;
    }
}
.card-recomended{
    &__img{
        width: 126px;
        height: 186px;
        object-fit: cover;
    }
}