@import "./nullstyle";
@import "./mixins";
@import "./variables";
@import "./fonts";
@import './componentScss/signUp.scss';
@import './componentScss/header.scss';

*{
    font-family: $primary-ff;
}

//temp option
body{
    -webkit-tap-highlight-color: transparent;
    opacity: 0.99;
    background: #2D2D2D;
}

.block{
    font-size: $link-fz;
}