@import "../mixins";
@import "../variables";

.movie {
  padding: 20px 0 0 20px;
  position: relative;
  height: 100%;
  &__bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding-right: 40px;
    &__content {
      flex: 1;
      max-width: 541px;
      &__title {
        font-size: 10px;
        margin-bottom: 10px;
      }
      .default-grey-text {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
    &__image img {
      width: 100%;
      max-width: 521px;
      height: 293px;
      object-fit: cover;
    }

    &__genres {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      margin-top: 15px;
      .default-grey-text {
        margin-bottom: unset;
      }
      &__dot {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  &__header__title-second,
  &__header__title-main {
    display: flex;
    align-items: center;
    color: var(--primary-color);

    h3 {
      margin-right: 5px;
    }
  }
  &__header__title-main  {
    margin-right: 10px;
  }
  &__header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    &-main,
    &-second {
      display: flex;
      align-items: center;
    }
    &-second {
      margin-left: 20px;
    }
  }
}

