@import "./../variables";

.menu {
  position: sticky;
  top: 0;
  width: 130px;
  height: 711px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-color-dark);
  padding: 50px 26px;

  &__nav {
    &-name {
      margin-bottom: 50px;
    }
    &-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      color: var(--primary-color);
      svg{
        width: 20px;
        height: 20px;
        color: var(--primary-color);
      }
    }
  }

  &__title {
    color: var(--contrast-color);
    font-size: 24px;
    width: 78px;
    height: 24px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
    display: block;
  }

  &__nav-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
  }
  @media screen and (max-width:767px) {
    padding: 30px 20px;
    width: 85px;
    height: 571px;
    &__nav{
      &-name{
        margin-bottom: 30px;
      }
    }
    &__title{
      margin-bottom: 30px;
    }
  }
}