@import "../mixins";
@import "../variables";

.slider{
    margin-top: 20px;
    margin-bottom: 56px;
    height: 300px;
    cursor:grab;
    @media screen and (max-width:530px) {
        height: 300px;
    }
}